<header class="header container-fluid shadow-sm bg-light ">
  <nav class="row" style="z-index: 1000" >
          <div class="col-12 order-lg-1 app-data-container pt-0 navbar-light bg-light" >
          <div class="d-md-flex w-100 align-items-center">
              <div class="d-lg-inline-block app-logo-container animated bounceIn">
                  <a class="d-lg-flex d-none" href="#"  >
                      <img src="../../assets/logo-ypf.svg" class="mr-2" alt="YPF" width="125">
                  </a>
              </div>
              <div class="ml-2 mr-3 d-none d-lg-inline-block app-spacer"></div>
              <h5 class="d-none d-md-flex m-0 text-uppercase app-name-container">
                  <strong>Ficha Integraciones</strong>
              </h5>
           
          </div>
      </div>
  </nav>
</header>
