<div>
    <h4>SECUENCAS</h4>
    <hr />
    <div class="container my-3 p-3 bg-body rounded shadow-sm ">
        <form>
            <div class="row">
                <div class="col-md-2">
                    <label for="inputEmail4" class="form-label">Nª Secuencia</label>
                    <input type="text" class="form-control" id="inputEmail4">
                </div>
                <div class="col-md-5">
                    <label for="inputPassword4" class="form-label">Middleware</label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>
                <div class="col-md-5">
                    <label for="inputPassword4" class="form-label">Estado</label>
                    <select id="inputState" class="form-select">
                        <option selected>seleccionar...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <hr />
           
            <hr />
            <div class="row">
                <div class="col-6">
                    <label for="inputAddress" class="form-label">Descripción  Secuencia Origen</label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>

                <div class="col-6">
                    <label for="inputAddress" class="form-label">Descripción  Secuencia Destino</label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="inputAddress" class="form-label">Nombre Aplicación/Instancia Origen</label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>

                <div class="col-6">
                    <label for="inputAddress" class="form-label">Nombre Aplicación/Instancia Destino</label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="inputAddress" class="form-label">Tipo Conexión Origen</label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>
                <div class="col-6">
                    <label for="inputAddress" class="form-label">Tipo Conexión Destino</label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="inputAddress" class="form-label">Usuario de Comunicación Origen</label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>
                <div class="col-6">
                    <label for="inputAddress" class="form-label">Usuario de Comunicación Destino</label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="inputAddress" class="form-label">Job Relacionado Origen</label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>
                <div class="col-6">
                    <label for="inputAddress" class="form-label">Job Relacionado Destino</label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="inputAddress" class="form-label">Celula Responsable Origen</label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>
                <div class="col-6">
                    <label for="inputAddress" class="form-label">Celula Responsable Destino</label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="inputAddress" class="form-label">Conector Origen</label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>
                <div class="col-6">
                    <label for="inputAddress" class="form-label">Conector Destino</label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="inputAddress" class="form-label">Sistema Logico Origen</label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>
                <div class="col-6">
                    <label for="inputAddress" class="form-label">Conector Destino</label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group text-center">
                        <div class="divider-10"></div>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group text-center">
                        <div class="divider-10"></div>
                       
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group text-center">
                        <div class="divider-10"></div>
                        <button [routerLink]="['/busqueda']"   type="submit" class="btn btn-primary">Salir</button>
                    </div>
                </div>
            </div>     


        </form>
    </div>

</div>