<div>
    <h4>SECUENCAS</h4>
    <hr />
    <div class="container ">
        <form>
            <div class="row">
                <div class="col-md-2">
                    <label for="inputEmail4" class="form-label">Nª SECUENCIA</label>
                    <input type="text" class="form-control" id="inputEmail4">
                </div>
                <div class="col-md-5">
                    <label for="inputPassword4" class="form-label">MIDDLEWARE</label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>
                <div class="col-md-5">
                    <label for="inputPassword4" class="form-label">ESTADO</label>
                    <select id="inputState" class="form-select">
                        <option selected>seleccionar...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <hr />
           
            <hr />
            <div class="row">
                <div class="col-6">
                    <label for="inputAddress" class="form-label">DESCRIPCION SECUENCIA ORIGEN</label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>

                <div class="col-6">
                    <label for="inputAddress" class="form-label">DESCRIPCION SECUENCIA DESTINO</label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="inputAddress" class="form-label">NOMBRE APLICACION/INSTANCIA ORIGEN</label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>

                <div class="col-6">
                    <label for="inputAddress" class="form-label">NOMBRE APLICACION/INSTANCIA DESTINO</label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="inputAddress" class="form-label">TIPO CONEXION ORIGEN</label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>
                <div class="col-6">
                    <label for="inputAddress" class="form-label">TIPO CONEXION DESTINO</label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="inputAddress" class="form-label">USUARIO DE COMUNICACION ORIGEN</label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>
                <div class="col-6">
                    <label for="inputAddress" class="form-label">USUARIO DE COMUNICACION DESTINO</label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="inputAddress" class="form-label">JOB RELACIONADO ORIGEN</label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>
                <div class="col-6">
                    <label for="inputAddress" class="form-label">JOB RELACIONADO DESTINO</label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="inputAddress" class="form-label">CELULA RESPONSABLE ORIGEN</label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>
                <div class="col-6">
                    <label for="inputAddress" class="form-label">CELULA RESPONSABLE DESTINO</label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="inputAddress" class="form-label">CONECTOR ORIGEN</label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>
                <div class="col-6">
                    <label for="inputAddress" class="form-label">CONECTOR DESTINO</label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="inputAddress" class="form-label">SISTEMA LOGICO ORIGEN</label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>
                <div class="col-6">
                    <label for="inputAddress" class="form-label">CONECTOR DESTINO</label>
                    <input type="text" class="form-control" id="inputPassword4">
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-4">
                    <button type="submit" class="btn btn-outline-primary">GUARDAR</button>
                </div>
                <div class="col-4">
                    <button [routerLink]="['/busqueda']" type="submit" class="btn btn-outline-primary">SALIR</button>
                </div>
            </div>
        </form>
    </div>

</div>