<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Decripcion Origen</th>
            <th scope="col">Decripcion Destino</th>
            <th scope="col">Middleware</th>
            <th scope="col">Estado</th>
            <th style="width: 5%"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>LP0</td>
            <td>AEX_AFIP</td>
            <td>INS_XP5</td>
            <td>Activo</td>
            <td style="white-space: nowrap">
                <a class="btn btn-sm btn-primary mr-1">Editar</a>              
            </td>
            <td style="white-space: nowrap">               
                <a class="btn btn-sm btn-primary mr-1">Ver</a>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>AEX_NOSIS</td>
            <td>INS_LP0300MM</td>
            <td>INS_XP5</td>
            <td>Activo</td>
            <td style="white-space: nowrap">
                <a class="btn btn-sm btn-primary mr-1">Editar</a>              
            </td>
            <td style="white-space: nowrap">               
                <a class="btn btn-sm btn-primary mr-1">Ver</a>
            </td>
        </tr>
    </tbody>
</table>