<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ORIGEN</th>
            <th scope="col">DESTINO</th>
            <th scope="col">MIDDLWARE</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>LP0</td>
            <td>AEX_AFIP</td>
            <td>INS_XP5</td>
            <td style="white-space: nowrap">
                <a class="btn btn-sm btn-primary mr-1">Edit</a>
                <button class="btn btn-sm btn-danger btn-delete-user">
                    <span>Delete</span>
                </button>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>AEX_NOSIS</td>
            <td>INS_LP0300MM</td>
            <td>INS_XP5</td>
            <td style="white-space: nowrap">
                <a class="btn btn-sm btn-primary mr-1">Edit</a>
                <button class="btn btn-sm btn-danger btn-delete-user">
                    <span>Delete</span>
                </button>
            </td>
        </tr>
    </tbody>
</table>