<app-home></app-home>
<div class="container"> 
    <div class="row">            
        <div class="col-md-4 ">
          <br> 
        </div>
    </div>   
    <div class="shadow-none p-3 mb-5 bg-light rounded">            
        DATOS CABECERA 
    </div>     
    <app-cabecera></app-cabecera>    
    <div class="row"> 
        <div class="col-md-4 ">
            <br>            
          </div>
    </div>   
    
    <div class="row">            
        <div class="col-md-4 ">
          <br> 
        </div>
    </div>   
    <div class="shadow-none p-3 mb-5 bg-light rounded">            
        DATOS SECUENCIAS 
    </div>  
    <app-detalle></app-detalle>
</div>